.header {
	background: $white;
	position: relative;
	.inner {
		@extend clearfix;
		position: relative;
		@extend %max-width;
		margin: 0 auto;
		position: relative;
		.logo-container {
			height: 112px;
			@media screen and (max-width: 60em) {
				height: $header-height;
			}
			position: relative;
			.logo {
				width: 192px;
				margin-top: 20px;
				padding-left: 1em;
				@media screen and (max-width: 60em) {
					width: 130px;
				}
			}
		}
	}
}


#mobile,
.plan-find-mobile {
	display: none;
}

@media screen and (max-width: 60em) {
	#desktop {
		display: none;
	}
	#mobile,
	.plan-find-mobile {
		display: block;
	}
}


//body > header > div.menu > nav > ul > li.travel.hasSub > div.menu-wrapper


// .sub-inner-menu {
// 	//border: solid yellow 2px;
// 	background: url(../img/bg-hr.gif) no-repeat center bottom;
// }
// .hasSub > ul > li.first > ul {
// 	border-top: 1px solid $white;
// }

// &.travel { //Travel
// 						background-color: $green;
// 						&:hover {
// 							background-color: $green;
// 						}
// 					}
// 					&.work { //Work
// 						background-color: $purple;
// 						&:hover {
// 							background-color: $purple;
// 						}
// 					}
// 					&.school { //School
// 						background-color: $dark-blue;
// 						&:hover {
// 							background-color: $dark-blue;
// 						}
// 					}
// 					&.jobseekers {
// 						background-color: $orange;
// 						&:hover {
// 							background-color: $orange;
// 						}
// 					}
// 					&.blog {
// 						background-color: $dark-orange;
// 						&:hover {
// 							background-color: $dark-orange;
// 						}
// 					}


	// .menu-wrapper {
	// 	position: relative;
	// 	width: 100%;
	// 	padding: 0px;
	// 	margin: 0px;
	// 	display: block;
	// 	@include clearfix;
	// 	//top: 38px;
	// 	//z-index: 200;
	// 	//padding: 10px 5px;
	// 	//left: 0;
	// 	//border-top: solid 1px $white;
	// 	//display: none;
	// 	@include clearfix;
	// 	.sub-menu {
	// 		//padding: 0px;
	// 		//margin: 0px;
	// 		li {
	// 			display: block;
	// 			//padding: 10px;
	// 			a {
	// 				@include adjust-font-size-to(18px, 2);
	// 			}
	// 		}
	// 	}
	// }


	/* .menu {
		background: $blue;
		@media screen and (max-width: 37.5em) {
			position: absolute;
			width: 100%;
			z-index: 10;
		}
		.main-navigation {
			display: table;
			width: 100%;
			border-collapse: collapse;
			border: none;
			@include clearfix;
			ul {
				display: table-row;
				@include clearfix;
				>li {
					float: left;
					display: table-cell;
					margin: 0;
					width: 20%;
					padding: 0.3em 0.7em;
					position: relative;
					border-right: solid 1px $white;
					@media screen and (max-width: 37.5em) {
						width: 100%;
						border: none;
						display: block;
						float: none;
						padding: 0px;
						@include clearfix;
					}
					&:first-child {
						border-left: solid 1px $white;
						@media screen and (max-width: 37.5em) {
							border: none;
						}
					}
					&.travel { //Travel
						background-color: $green;
						&:hover {
							background-color: $green;
						}
						.menu-wrapper {
							background-color: $green;
							width: 100%;
							.sub-menu {
								background-color: $green;
								width: 100%;
								li {
									width: 100%; 
									.alpha {	
										background-position: -6px -87px;
										margin-bottom: 10px;
									}
									.bravo {	
										background-position: -7px -167px;
									}
								}
							}
						}
					}
					&.work { //Work
						background-color: $purple;
						&:hover {
							background-color: $purple;
						}
						.menu-wrapper {
							width: 460px;
							background-color: $purple;
							.sub-menu {
								background-color: $purple;
								width: 50%;
								//@extend %bdr;
								li {
									width: 100%; 
									&.first {
										height: 110px;
									}
									.alpha {	
										background-position: -6px -46px;
									}
									.bravo {	
										background-position: -7px -206px;
									}
								}
							}
						}
					}
					&.school { //School
						background-color: $dark-blue;
						&:hover {
							background-color: $dark-blue;
						}
						.menu-wrapper {
							width: 460px;
							background-color: $dark-blue;
							@media screen and (max-width: 37.5em) {
								width: 100% !important;
							}
							.sub-menu {
								background-color: $dark-blue;
								width: 50%;
								li {
									width: 100%; 
									&.first {
										height: 135px;
									}
									.alpha {	
										background-position: -6px -46px;
									}
									.bravo {	
										background-position: -7px -206px;
									}
								}
							}
						}
					}
					&.jobseekers {
						background-color: $orange;
						&:hover {
							background-color: $orange;
						}
					}
					&.blog {
						background-color: $dark-orange;
						&:hover {
							background-color: $dark-orange;
						}
					}
					a {
						color: $white;
						display: block;
						text-decoration: none;
						text-align: center;
						text-transform: uppercase;
						@include adjust-font-size-to(15px);
					}
					.menu-wrapper {
						position: absolute;
						top: 38px;
						z-index: 200;
						padding: 10px 5px;
						left: 0;
						border-top: solid 1px $white;
						@include clearfix;
						@media screen and (max-width: 37.5em) {
								width: 100% !important;
								position: relative !important;
							}
						//Submenu
						.sub-menu {
							position: relative;
							display: block;
							float: left;
							@include clearfix;
							li {
								border: none; 
								display: block;
								background: url(../img/bg-hr.gif) no-repeat center bottom;
								@include clearfix;
								&:last-child {
									background: none;
								}
								a {
									text-align: left !important;
									@include transition(all 0.5s ease-out);
									color: rgba($white, 0.8);
									&:hover {
										padding-left: 5px;
										@include transition(all 0.2s ease-in);
										color: $white;
									}
								}
								i {
									background:transparent url('../img/icons-s1398ce0c98.png') no-repeat;
									display: block;
									width: 26px;
									height: 32px;
									margin-left: 10px;
									@media screen and (max-width: 37.5em) {
										float: right !important;
									}
								}
								@media screen and (max-width: 37.5em) {
									background: none;
									border-bottom: solid 1px $white;
								}
							}
							@media screen and (max-width: 37.5em) {
									width: 100% !important;
									float: none;
								}
						}
						.menu {
							background: url(../img/bg-hr.gif) no-repeat center bottom;
							padding-bottom: 10px;
							margin-bottom: 10px;
							@media screen and (max-width: 37.5em) {
									background: none;
									@include clearfix;
								}
							&:last-child {
								background: none;
								padding-bottom: 0px;
								margin-bottom: 0px;
							}
							li {
								display: block;
								background: none !important;
								@include adjust-font-size-to(11px, 0.95);
								@include clearfix;
							}
						}
					}
				}
			}
		}
	} */


// .sub-menu {
// 	li {
// 		@media screen and (max-width: 37.5em) { 
// 			height: 10px !important;
// 		}
// 	}
// }




// .hasSub {
// 	a {
// 		color: green !important;
// 		&:hover .menu-wrapper{
// 			left: 0px  !important;
// 			opacity: 1 !important;
// 		}
// 	}
// }


body.work {
	.work {
		background:$purple;
	}
}





// @media screen and (max-width: 60em) {
 
// }




// @media screen and (max-width: 37.5em) {
// 	@include column(12);
// 	}
