.right {
	width: 40%;
	right: 0;
	background-color: $blue;
	@include transition(width 0.8s ease-in-out);
	@media screen and (max-width: 60em) {
		
	}
	@media screen and (max-width: 37.5em) {
		display: none;
	}
	h1 {
		border-bottom: 1px solid $white;
		@include rhythm(0, 0, 0.5, 0.5); //Margin top, Padding top, Padding bottom, Margin bottom
	}
	h2 {
		border-top: 1px solid $white;
		@include rhythm(0, 0.5, 0.5, 0.1); //Margin top, Padding top, Padding bottom, Margin bottom
	}
	&.close {
		width: 2em;
		@include transition(width 0.8s ease-in-out);
	}
	.inner {
		width: 450px;
		overflow: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: auto;
		color: $white;
	}
	a {
		color: $white;
		@include adjust-font-size-to(12px, 0.5);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

//Work section
body.work {
	.right {
		background-color: $purple;
	}
}


//News and events
body.news-and-events {
	.right {
		background-color: $dark-orange;
	}
}