@import "fittext";
@import "normalize.scss";
@import "compass/utilities";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/css3/transform";
@import "typefaces.scss";
@import "fontawesome/font-awesome.scss";
@import "grid.scss";
@import "vars.scss";
@import "flexslider.scss";
@import "jscrollpane.scss";
@import "structure.scss";
@import "icons.scss";
@import "right-side.scss";
@import "forms.scss";
@import "content.scss";
//@import "superfish.scss";

@import "compass/utilities/sprites";
@import "../img/icons/*.png";
@include all-icons-sprites;

@import "header.scss";

//@import "structure.scss";
//@import "Hamburger-icon.scss";


//html {
//  @include adjust-leading-to(1);
//}

body,html {
	position: relative;
	height: 100%;	
}
body {
	color: $black;
	@extend %open_sansregular;
	//background: lighten($black, 70%);
	//background: #fff url('http://www.baselineme.com/6') center top repeat;
}

//Fonts
//$base-font-size: 18px;
//$base-line-height: 24px;
//@include establish-baseline;

//Baseline
$base-font-size: 18px;
$base-line-height: 8px;
 
@include establish-baseline;

html {
  @include adjust-leading-to(4); 
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	@extend %open_sansbold;
	font-weight: 100;
}

h1, h2 {
	@include adjust-font-size-to(48px, 6);
	@include fittext($min-media: 200px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 48px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false)
	//@include rhythm(0, 0, 0, 2); //Margin top, Padding top, Padding bottom, Margin bottom
}

p {
 
}

